
  
NODE_JS_ENV=develop
NODE_JS_HOST=127.0.0.1
NODE_JS_PORT=8080

MONGODB_CONNECTION_STRING=mongodb://localhost:27017/dbname

ACCESS_CONTROL_ALLOWED_ORIGIN=*

JSON_WEBTOKEN_SECRET=JSON_WEBTOKEN_SECRET
JSON_WEBTOKEN_EXPIRATION=1h
